<!DOCTYPE html>
<html >
<head lang="en" >
    <meta charset="UTF-8" >
    <title ></title >
    <style >
    body{

        margin-left: 200px;
        /* 当使用简写属性时，属性值得顺序为：:
    background-color
    background-image
    background-repeat
    background-attachment
    background-position
以上属性无需全部使用，你可以按照页面的实际需要使用.*/
        background: #5d9ab2 url(../../images/css_demo/img_tree.bmp) no-repeat fixed top left;
    }
        .container{
            text-align: center;
        }
        .center-div{
            border: 1px solid gray;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            background-color:#d0f0f6;
            text-align: left;
            padding: 8px;
        }

    </style >
</head >
<body >

<div class="container" >
    <div class="center-div">
        <h1>Hello World!</h1>
        <p>This example contains some advanced CSS methods you may not have learned yet. But, we will explain these methods in a later chapter in the tutorial.</p>
    </div >
</div >


</body >
</html >